<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Planete.Properties.Settings.DBSistemConnectionString" connectionString="Data Source=|DataDirectory|\DBSistem.sdf;Integrated Security=true" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Planete.Properties.Settings.DBSistem1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBSistem1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
